[Unit]
Description=Autonom Daemon

[Service]
Type=simple
Restart=always
ExecStart=autonom -c /etc/autonom/config.json

[Install]
WantedBy=multi-user.target
